<%= form_with(model: book_author, local: true) do |form| %>
  <% if book_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_author.errors.count, "error") %> prohibited this book_author from being saved:</h2>

      <ul>
      <% book_author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, id: :book_author_book_id %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.text_field :author_id, id: :book_author_author_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
