<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :publisher_id %>
    <%= form.text_field :publisher_id, id: :book_publisher_id %>
  </div>

  <div class="field">
    <%= form.label :proposal_date %>
    <%= form.date_select :proposal_date, id: :book_proposal_date %>
  </div>

  <div class="field">
    <%= form.label :contract_date %>
    <%= form.date_select :contract_date, id: :book_contract_date %>
  </div>

  <div class="field">
    <%= form.label :published_date %>
    <%= form.date_select :published_date, id: :book_published_date %>
  </div>

  <div class="field">
    <%= form.label :units_sold %>
    <%= form.number_field :units_sold, id: :book_units_sold %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
